{% extends 'tastatura/main.html' %}
{% block content %}

<hr class = "row">

    <div class="col-md-5"></div>
    <h2>Proizvodjac:</h2>

    <hr>

    <div class="card card-body">
    <a class="btn btn-primary btn-sm btn-block" href="{% url 'tastatura:proizvodjac' %}">Dodaj
        </a>
        <table class="table table-sm">
            <tr>
                <th>naziv</th>
            </tr>
            {% for i in proizvodjac %}
            <tr>
                 <td>{{i.naziv}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="col-md-7"></div>
    <h2>Tastatura:</h2>

    <hr>

    <div class = "card card-body">
    <a class="btn btn-primary btn-sm btn-block" href="{% url 'tastatura:tastatura' %}">Dodaj
        </a>
        <table class="table table-sm">
            <tr>
                <th>naziv</th>
                <th>cena</th>
                <th>prozivedeno od</th>
            </tr>

            {% for i in tastatura %}
            <tr>
                 <td>{{i.naziv}}</td>
                 <td>{{i.cena_DIN}}</td>
                 <td>{{i.proizvedeno_Od}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


</div>

{% endblock %}
