{% extends 'tastatura/main.html' %}
{% block content %}
<hr class = "row">

    <div class="col-md-5"></div>
    {% include 'tastatura/proizvodjacBrojac.html' %}
    <h2>Proizvodjac:</h2>

    <hr>

    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Naziv</th>
            </tr>
            {% for i in proizvodjac %}
            <tr>
                 <td>{{i.naziv}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
