{% extends 'tastatura/main.html' %}
{% block content %}
<hr class = "row">

    <div class="col-md-7"></div>
    {% include 'tastatura/tastaturaBrojac.html' %}
    <h2>Tastatura:</h2>

    <div class = "card card-body">
        <table class="table table-sm">
            <tr>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Prozivedeno od</th>
            </tr>

            {% for i in tastatura %}
            <tr>
                 <td>{{i.naziv}}</td>
                 <td>{{i.cena_DIN}}</td>
                 <td>{{i.proizvedeno_Od}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}